<footer>
    <!-- <div class="site-info"> -->
        <a href="https://www.ua.edu/"><img style="padding-bottom: 1em;" src="https://strategiccommunications.ua.edu/img/logos/Nameplate/png/reverse/nameplaterev.png" alt="University of Alabama Logo" width="400px"></a><br>
        <a id="footer-lib-img-link" href="https://www.lib.ua.edu/"><img src="https://www.lib.ua.edu/wp-content/themes/roots-ualib/assets/img/new-ualib-logo.png" alt="University of Alabama Libraries Logo" width="200px"></a>
        <!-- <a id="footer-lib-img-link" href="https://www.lib.ua.edu/"><img src="https://strategiccommunications.ua.edu/img/logos/DIVISIONS/LIB/UA-DepartmentLogoSetup-OfficLogo-dept-Libraries.png" alt="University of Alabama Libraries Logo" width="300px"></a> -->
        <a href="https://www.lib.ua.edu/using-the-library/digital-humanities-center/"><img id="footer-adhc-logo" style="padding-left: 2em;" src="https://alabama.box.com/shared/static/k66z25tjl1wfqo5yx9l3n52yebhxbf6e.png" alt="Alabama Digital Humanities Center Logo" width="130px"></a>
        <a href="https://www.lib.ua.edu/using-the-library/digital-humanities-center/"><img style="padding-left: 2em;" src="https://history.ua.edu/wp-content/themes/history-theme/images/seal.png" alt="University of Alabama College of Arts & Scinces Logo" width="100px"></a>
        <a href="https://www.lib.ua.edu/using-the-library/digital-humanities-center/"><img style="padding-left: 2em;" src="https://pbs.twimg.com/profile_images/771402559282118656/3IjVFUh6_400x400.jpg" alt="University of Alabama Department of History Logo" width="100px"></a>
        <br>
        <div class="required-subfooter">
            •
            <a href="http://www.ua.edu/">University of Alabama</a>
            •
            <a href="http://www.lib.ua.edu/">University Libraries</a>
            •
            <a id="footer-adhc-text-link" href="https://www.lib.ua.edu/using-the-library/digital-humanities-center/">Alabama Digital Humanities Center</a>
            •
            <a href="http://www.as.ua.edu/">College of Arts &amp; Sciences</a>
            •
            <a href="http://www.history.ua.edu/">Department of History</a>
            •
            <a href="https://summersell.ua.edu/">Summersell Center</a>
            •
            <br>
            •
            <a href="http://www.ua.edu/disclaimer.html">Disclaimer</a>
            •
            <a href="http://www.ua.edu/privacy.html">Privacy</a>
            •
            <a href=" http://www.ua.edu/copyright.html">Copyright</a>
            •
        </div>
        <br>
    <!-- </div> -->
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>
